<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EntityFrameworkProfiler" version="5.0.5033" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net452" />
</packages>